/*===========================
    003.  Single post css 
===========================*/


.single-post-details{





		/* Here's the new blog dtl to add... */
		.blog-details-wrap .meta-info ul {
			padding-top: 25px;
			border-top: 2px solid $gray-bg;
			padding-bottom: 25px;
		}


		.blog-details-wrap .meta-info ul li {
			display: inline-block;
			font-size: 14px;
			margin-right: 15px;
			font-weight: 500;
			padding-right: 15px;
			border-right: 2px solid $gray-bg;
		}
		.quote-post {
			background-position: center;
			background-repeat: no-repeat;
		}
		.quote-post .quote-icon {
			float: left;
			margin-right: 30px;
			display: block;
			margin-top: 20px;
		}
		.quote-post h2 {
			overflow: hidden;
			margin-bottom: 0;
		}
		.blog-deatails-box.single .bsingle__post {
			margin-bottom: 0;
		}

		.sidebar-widget .widget table{
			width:100%;
			padding:10px;
			background:$gray-bg;
		}
		.sidebar-widget .widget th,.footer-widget .widget th
		{
		background: $theme-color1;
		padding: 10px 5px;
		text-align: center;
		color: #fff;
		}
		.sidebar-widget .widget td
		{
			padding:5px;
			text-align:center;
		}
		.sidebar-widget .widget {
		padding: 25px;
		overflow: hidden;
		margin-bottom: 40px;
		border: 2px solid $gray-bg !important;
		}
		.sidebar-widget .widget li {
			padding-bottom: 5px;
			border-bottom: 1px solid #e4e4e4;
			padding-top: 5px;
			float: left;
			width: 100%;
		}
		.widget-title {
			margin-bottom: 40px;
		}
		.sidebar-widget .widgettitle,.sidebar-widget .widget-title{
			font-size: 20px;
			margin-bottom: 0;
			line-height: 1;
			text-align:left;
			font-weight: 600;
			margin-bottom: 30px;
			border-left: 4px solid $theme-color1;
			padding-left: 15px;
		}
		.sidebar-widget .widget .gallery-icon a:hover
		{
			padding-left:0;
		}
		i.flaticon-controls{
			font-size: 35px;color: $theme-color1;
		}
		.tags {
			border-bottom: 1px solid #eaeaea;
			/*float:left;*/
			width:100%;
			display: inline-block;
		}
		.search-form {
			position: relative;
		}
		.search-form input {
			background: $gray-bg;
			border: none;
			width: 100%;
			padding: 18px 30px;
		}
		.search-form input::placeholder {
			font-size: 14px;
			color: #b0b0b0;
		}
		.search-form .search-submit {
			position: absolute;
			right: 0;
			bottom: 0;
			border: none;
			background:$theme-color1;
			padding: 12px 20px;
			color: #ffffff;
			font-size: 18px;
			cursor: pointer;
			
			width: 110px;





		}
		.search-form label{
			width: 100%;
		}

		.sidebar-widget .widget .widget_archive,.widget_categories,.sidebar-widget .widget_archive{
			text-align:right;
		}
		.sidebar-widget .widget .widget_archive,.sidebar-widget .widget_categories a,.sidebar-widget .widget_archive a{
			float:left;
			height: 30px;
		}
		.widget-insta-post li {
			display: inline-block;
			margin: 5px 3px;
		}
		.sidebar-widget .widget a:hover {
			color: $theme-color1;
			padding-left: 10px;
		}
		.widget-insta-post li:hover a::before {
			opacity: .7;
		}
		.widget-insta-post li a {
			position: relative;
			display: block;
		}
		.widget-insta-post li a::before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			background:$theme-color1;
			opacity: 0;
			-webkit-transition: all 0.3s ease-out 0s;
			-moz-transition: all 0.3s ease-out 0s;
			-ms-transition: all 0.3s ease-out 0s;
			-o-transition: all 0.3s ease-out 0s;
			transition: all 0.3s ease-out 0s;
		}
		.widget-social a {
			height: 40px;
			width: 40px !important;
			line-height: 40px;
			border-radius: 50%;
			display: inline-block;
			background: transparent;
			border: 1px solid #e4e4e4;
		color: #6e6e6e;
			margin: 0 3px;
			text-align: center !important;
		}
		.widget-social a:hover {
			background:$theme-color1;
			color: #ffffff !important;
			border-color:$theme-color1;
			padding: 0 !important;
			box-shadow: 0px 10px 19px 0px $theme-color1 !important;
		}
		.rpwwt-widget a{
			padding-left: 0 !important;
		}
		.rpwwt-widget li {

			line-height: 23px !important;

		}

		.tag-cloud-link {
			font-size: 18px !important;
			border: 2px solid $gray-bg;
			padding: 10px 19px !important;
			display: inline-block;
			margin: 5px 1px;
			text-transform: capitalize;
			float: none !important;
			width: auto !important;
		}
		.tag-cloud-link:hover {
			border: 2px solid $theme-color1;
			color: #6a6a6a;
		}
		.cat__list li {
			padding-bottom: 10px;
			border-bottom: 1px solid #e4e4e4;
			margin-bottom: 10px;
		}
		.cat__list li:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border: none;
		}
		.cat__list li:hover a {
			color:$theme-color1;
		}
		.cat__list li a {
			font-size: 14px;
			color: #777777;
		}
		.cat__list li a span {
			float: right;
			display: block;
		}
		.widget__post ul li {
			margin-bottom: 20px;
			overflow: hidden;
		}
		.widget__post ul li:last-child {
			margin-bottom: 0;
		}
		.widget__post-thumb {
			float: left;
			display: block;
			margin-right: 20px;
		}
		.widget__post-content {
			overflow: hidden;
			display: block;
		}
		.widget__post-content h6 {
			font-size: 16px;
			margin-bottom: 1px;
			padding-right: 15px;
			font-weight: bold;
		}
		.widget__post-content h6:hover a {
			color:$theme-color1;
		}
		.widget__post-content span {
			font-size: 14px;
		}
		.widget__post-content span i {
			margin-right: 8px;
		}
		.widget__tag ul li {
			display: inline-block;
			margin: 5px 3px;
		}
		.widget__tag ul li:hover a {
			background:$theme-color1;
			border-color:$theme-color1;
			color: #ffffff;
		}
		.widget__tag ul li a {
			display: block;
			border: 1px solid #d8d8d8;
			font-size: 14px;
			color: #8f8bb8;
			padding: 9px 20px;
		}
		.widget.widget__banner {
			border: none;
			padding: 0;
			position: relative;
		}
		.widget__banner-thumb img {
			width: 100%;
		}
		.widget__banner-overly {
			position: absolute;
			top: 50px;
			left: 0;
			right: 0;
			text-align: center;
		}
		.widget__banner-overly > span {
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: #ffffff;
			letter-spacing: 2px;
			display: block;
			margin-bottom: 160px;
		}
		.widget__banner-overly h3 {
			color: #ffffff;
			font-size: 40px;
			margin-bottom: 129px;
			font-weight: bold;
		}
		.widget__banner-overly h3 span {
			display: block;
			font-family: 'Roboto', sans-serif;
			font-size: 30px;
			font-weight: 300;
		}
		.widget__banner-overly .btn {
			border-radius: unset;
			background: #fff;
			border: 2px solid #fff;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			padding: 17px 35px;
			color:$theme-color1;
		}
		.widget__banner-overly .btn:hover {
			background: transparent;
			color: #fff;
		}
		.meta__info ul {
			margin-bottom: 7px;
		}
		.meta__info ul li {
			display: inline-block;
			font-size: 14px;
			margin-right: 30px;
		}
		.meta__info ul li a {
			color: #777777;
			text-transform: capitalize;
		}
		.meta__info ul li a i {
			margin-right: 5px;
		}
		.meta__info ul li a:hover {
			color: $theme-color1;
		}
		.meta__info ul li i {
			margin-right: 5px;
		}
		.details__content h2 {
			font-size: 32px;
			line-height: 1.3;
			margin-bottom: 20px;
			padding-right: 0;
			font-weight: bold;
		}
		.details__content p {
			margin-bottom: 18px;
		}
		blockquote,.pages-content blockquote,.comment-list blockquote {
		background: #242d2e;
		border-radius: 10px;
		padding: 50px 45px 57px !important;
		position: relative;
		z-index: 5;
		text-align: center;
		margin-top: 30px;
		margin-bottom: 30px;
			display: inline-block;
			width: 100%;
			font-size: 18px;
		}
		.comment-list blockquote a:hover{
			color: #fff;
		}
		.news-text blockquote h3{
			color: #fff;
		}
		.news-text blockquote i {
			font-size: 190px;
			color: #e4e9ff;
			z-index: -1;
			position: absolute;
			bottom: 15px;
			right: 30px;
		}
		blockquote p{
			color: #fff;
		}
		.news-text blockquote footer {
			color: #FF8000 !important;
			font-weight: 600;
			margin-bottom: 15px;
		}
		.news-text figure img {
			display: inline-block;
			margin-right: 30px;
			margin-bottom: 15px;
		}
		.news-text ul li {
			line-height: 30px;
			list-style:none ;
		}
		.news-text ul li i,.quote-post ul li i {
			color: #F15B26;
			padding-right: 5px;
		}
		.news-text blockquote p,.pages-content blockquote p,.comment-list blockquote p{
			color: #fff;
			line-height: 28px;
		}

		.news-text blockquote footer,.pages-content blockquote footer {
			font-size: 14px;
			margin-top: 15px;
			color: #fff;
			font-weight: 600;
		}
		.wp-block-media-text .wp-block-media-text__content {
			width: 100%;
		}
		.wp-block-pullquote cite {
		   color: $theme-color1!important;
		}
		cite {
			margin-top: 15px;
			color:$theme-color1;
			font-weight: 600;
		}
		.post-categories li {
			display: none !important;
		}
		.post-categories li:first-child {
			display: block !important;
		}

		.details__content-img {
			margin: 45px 0;
		}
		.details__content-img img {
			width: 100%;
			height: auto;
		}
		.details__content figure {
			margin-top: 45px;
			margin-bottom: 60px;
		}
		.details__content figure img {
			float: left;
			width: 255px;
			margin-right: 30px;
		}
		.tags.pb-50 {
			padding-bottom: 20px;
		}
		.post__tag h5 {
			font-size: 20px;
		margin-bottom: 20px;
		font-weight: 600;
		padding-top: 30px;
		border-top: 2px solid $gray-bg;
			margin-top: 25px;
		}
		.post__tag ul li {
			display: inline-block;
			margin-right: 10px;
		}
		.post__tag ul li a {
			font-size: 12px;
			text-transform: uppercase;
			border: 2px solid #e5e5e5;
			padding: 7px 10px;
			font-weight: bold;
			display: inline-block;
			border-radius: 3px;
			color: #9d9d9d;
			margin-bottom: 10px;
		}
		.post__tag ul li a:hover {
			border-color:$theme-color1;
			background:$theme-color1;
			color: #ffffff;
		}
		.post__share h5 {
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: bold;
		}
		.post__share ul li {
			margin-left: 20px;
			display: inline-block;
		}
		.post__share ul li a {
			font-size: 18px;
			display: inline-block;
			color: #b5becc;
		}
		.post__share ul li a:hover {
			color:$theme-color1;
		}
		.posts_navigation {
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
		}
		.posts_navigation .prev-link span {
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			letter-spacing: 2px;
			margin-bottom: 15px;
		}
		.posts_navigation .prev-link h4 {
			font-size: 20px;
			margin-bottom: 0;
			font-weight: bold;
			text-transform: capitalize;
			height: 30px;
		overflow: hidden;
		}
		.navigation.posts-navigation {
			display: none;
		}
		.avatar_post img {
			border-radius: 50%;
			box-shadow: 1px 5px 6px #8a8a8a33;
		}
		.posts_navigation .prev-link h4:hover a {
			color:$theme-color1;
		}
		.posts_navigation .next-link span {
			font-size: 12px;
			margin-bottom: 15px;
			font-weight: bold;
			display: block;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		.posts_navigation .next-link h4 {
			font-size: 20px;
			margin-bottom: 0;
			font-weight: bold;
			height: 30px;
		overflow: hidden;
		}
		.posts_navigation .next-link h4:hover a {
			color:$theme-color1;
		}
		.related__post .post-title {
			margin-bottom: 35px;
		}
		.related__post .post-title h4 {
			font-size: 26px;
			margin-bottom: 0;
			font-weight: bold;
		}
		.related-post-wrap .post-thumb img {
			width: 100%;
		}
		.related-post-wrap .rp__content {
			padding: 44px;
			border: 2px solid #f4f3fb;
			border-top: none;
		}
		.related-post-wrap .rp__content h3 {
			font-size: 24px;
			margin-bottom: 20px;
			font-weight: bold;
			line-height: 1.4;
		}
		.related-post-wrap .rp__content h3:hover a {
			color:$theme-color1;
		}
		.related-post-wrap .rp__content p {
			margin-bottom: 0;
			font-size: 14px;
		}
		.avatar__wrap {
			background: $gray-bg;
			padding: 50px 80px;
			float:left;
			width:100%;
				  @media #{$md}{
				   padding: 20px;
				  }
				  @media #{$xs}{
				   padding: 20px;
				  }

		}
		.avatar__wrap .avatar-img {
			margin-top: -115px;
			margin-bottom: 35px;
		}
		.avatar__wrap-content p {
			font-size: 14px;
			margin-bottom: 0;
		}
		.avatar__info h5 {
			font-size: 26px;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.avatar__info-social {
			margin-bottom: 20px;
		}
		.avatar__info-social a {
			font-size: 12px;
			color: $heading-color;
			display: inline-block;
			margin: 0 5px;
		}
		.avatar__info-social a:hover {
			color:$theme-color1;
		}
		.avatar__info-social a i{
			font-size: 20px;
		}
		code {
			font-size: 15px;
			display: inline-block;
				font-family: 'Rubik', sans-serif;
			margin-top: 10px;
		}
		figcaption{
			font-weight: 600;
			color: #202020;

		}
		.comment-form-comment label{
			display:none;

		}
		.form-submit {
			margin-bottom: 0;
		}
		.comment__wrap {
			border-bottom: 1px solid #eaeaea;
		}
		.comment__wrap-title {
			margin-bottom: 35px;
		}
		.comment__wrap-title h5 {
			font-size: 26px;
			margin-bottom: 0;
			font-weight: bold;
		}
		.single__comment .comments-avatar {
			float: left;
			width: 100px;
			margin-right: 30px;
		}
		.single__comment.children {
			margin-left: 130px;
				  @media #{$md}{
					 margin-left: 20px;
				  }
				  @media #{$xs}{
					 margin-left: 20px;
				  }

		}
		.single__comment.children .avatar-name h6 i {
			font-size: 12px;
			color: #cacfef;
			margin-left: 20px;
		}
		.comment-text {
			overflow: hidden;
		}
		.comment-text .avatar-name {
			overflow: hidden;
		}
		.comment-text .avatar-name h6 {
			font-size: 16px;
			margin-bottom: 7px;
			font-weight: bold;
		}
		.comment-text .avatar-name h6 i
		{
			display:none;
		}
		.comment-author-admin .avatar-name h6 i
		{
			font-size: 12px;
			display:inline-block;
		color: #cacfef;
		margin-left: 20px;
		}

		.comment-text .avatar-name span {
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $theme-color1;
		}
		.comment-text .avatar-name .comment-reply {
			float: right;
			display: inline-block;
			border: 2px solid #f4f4ff;
			padding: 8px 18px;
			border-radius: 50px;
			font-size: 14px;
			margin-top:-23px;
		}
		.comment-text .avatar-name .comment-reply a{
			color: #777777;
		}
		.comment-text .avatar-name .comment-reply:hover a{
			color: #fff;
		}
		.comment-list {
			padding: 0;
			border-bottom: 1px solid #eaeaea;
			margin-top: 45px;
			margin-bottom: 45px;
			padding-bottom: 45px;
		}
		.comments-title {
			font-size: 22px;
			margin-bottom: 0;
			font-weight: bold;
		}
		.comment-reply-title {
			font-size: 20px;
			margin-bottom:20px;
		}
		.comment-author-admin{
			margin-left: 130px;
		}
		.comment-text .avatar-name .comment-reply:hover {
			border-color:$theme-color1;
			background:$theme-color1;
			color: #ffffff;
		}
		.comment-text .avatar-name .comment-reply i {
			margin-right: 5px;
		}
		.comment-text p {
			font-size: 16px;
			margin-bottom: 0;
		}
		.screen-reader-text {
			display: none;
		}
		.comment-form {
			padding: 50px;
		background: $gray-bg;
		border-radius: 10px;

				  @media #{$md}{
					  padding: 20px;
				  }
				  @media #{$xs}{
					  padding: 20px;
				  }


		}
		.comment-form .comment-field {
			position: relative;    margin-top: 15px;
		}
		.comment-form .comment-field.text-area i {
			top: 25px;
			transform: unset;
		}
		.comment-form i {
			position: absolute;
			right: 30px;
			top: 50%;
			transform: translateY(-50%);
			color:$theme-color1;
			font-size: 14px;
		}
		.comment-form textarea {
			height: 150px;
			width: 100%;
			padding: 20px;
			padding-right: 50px;
			background: #ffffff;
			  border: 1px solid transparent;
		}
		.comment-form textarea::placeholder {
			font-size: 14px;
			color: #a7a7c1;
		}
		.comment-form textarea:focus {
			border: 1px solid$theme-color1;
		}
		.comment-form input {
			width: 100%;
			padding: 20px;
			padding-right: 50px;
			background: #ffffff;
			border: 1px solid transparent;
		}
		.comment-form input::placeholder {
			font-size: 14px;
			color: #b0b0b0;
		}
		.comment-form input:focus {
			border: 1px solid$theme-color1;
		}
		.comment-form .submit {
			background:$theme-color1;
			border: none;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 50px;
			padding: 12px 45px;
			margin-top:20px;
			font-weight: bold;
			width: auto;
		}
		.comment-form .submit::before{content: none;}
		.comment-form .submit:hover {
			color: #fff;
			background:$theme-color1;
		}
		 .page .comments-area ol .comment-respond{
			margin-bottom: 30px;
				margin-top: -26px;
		}
		  .comments-area ol >  .comment-respond {
			margin-bottom: 30px;
				margin-top: -30px;
		}
		  .comments-area ol > li > ol .comment-respond {
		  margin-left: -32px;
			   margin-top: -35px;
		}
		  .comments-area ol > li > ol > li > ol >  .comment-respond {
			margin-left: -42px;
				margin-top:-30px;
		}
		  .comments-area ol > li > ol > li > ol > li > ol > .comment-respond {
			margin-left: -62px;
			  margin-top: -35px;
		}
		.comment-reply-title small{
			margin-left: 15px;
		}
		p.comment-form-comment{
			margin-top: 15px;
		}
		.blist li {
			list-style: none !important;
		}
		.wp-block-gallery.columns-3.is-cropped {
			margin-top: 30px;
		}

		.single-post .footer-widget{
			padding-top: 50px;
		}
		figure.aligncenter img {
			margin-bottom: 15px;
		}
		.wp-image-907 {
			width: 100% !important;
			height: auto;
			margin-bottom: 15px;
		}
		figure img {
			display: inline-block;
			margin-bottom: 15px;
		}
		.wpding .footer-widget{

		}

		.single-post .bsingle__content .admin{
			display: none;
		}
		.single-post .blog-deatails-box.single {
			padding: 40px;
		   border-style: solid;
		border-width: 2px;
		border-color: rgb(243, 243, 243);
			float: left;
			width: 100%;
		}
		.single-post .bsingle__post-thumb img{
		margin-bottom: 50px;
		}
		.bsingle__content.quote-post .meta-info{
			margin-top:30px;
		}
		blockquote h3{
			color: #fff;
		}
		blockquote footer {
			color: $white;font-size: 30px;
			margin-bottom: 30px;
		}
		.blist li i  {
			color: #F15B26;
			padding-right: 5px;
		}
		.blist li {
			line-height: 30px;
			list-style: none;
		}
		.comment-form-cookies-consent input {
			width: auto;
			margin-top: 7px;
			margin-right: 10px;
		}
		



}
