// Font Family
$roboto: 'Roboto', sans-serif;
$poppins : 'Poppins', sans-serif;



// Colors ---------------
$white: #fff;
$nav-gray: #8F8F8F;



// Theme Color
$theme-color1: #F6435B;




// Body Color
$body-color: #B4B4B4;



// Heading Color
$heading-color:#0D2247;



// Background color
$gray-bg:#F2F5FF;
$naviblue-bg:#28355A;

$footer-bg:#28355A;



// Responsive Variables
$extra-lg: 'only screen and (min-width: 1500px) and (max-width: 1920px)';
$desktop: 'only screen and (min-width: 1400px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$ipad:'only screen and (min-width: 768px) and (max-width: 1024px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$iphone-8: 'only screen and (min-width: 414px) and (max-width: 736px)';
$iphone-6: 'only screen and (min-width: 375px) and (max-width: 667px)';
$iphone-5: 'only screen and (min-width: 320px) and (max-width: 568px)';



